<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="anto_stiek@yahoo.com">
    <meta name="author" content="Anto">
    <meta name="keyword" content="Anto">
    <link rel="shortcut icon" href="img/favicon.png">

     <title>Sistem Informasi Pelayanan Akademik</title>

    <!-- Bootstrap CSS -->    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
      <!--header start-->
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="index.html" class="logo">Sistem Informasi Pelayanan Akademik</a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">               
            </div>

            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar-mini4.jpg">
                            </span>
                            <span class="username">Anto</span>
                            <b class="caret"></b>
                        </a>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="home.html">
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="">
                      <a class="" href="aktif.html">
                          <span>Surat Keterangan Aktif</span>
                      </a>
                  </li>
                  <li class="">
                      <a class="" href="akhir.html">
                          <span>Surat Permintaan Data Untuk Tugas Akhir</span>
                      </a>
                  </li> 
                  <li class="">
                      <a class="" href="matkul.html">
                          <span>Surat Permintaan Data Untuk Tugas Matakuliah</span>
                      </a>
                  </li>                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-files-o"></i> Detail Surat Permintaan Data Untuk Tugas Akhir</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="icon_document_alt"></i>Surat Permintaan Data Untuk Tugas Akhir</li>
						<li><i class="fa fa-files-o"></i>Detail</li>
					</ol>
				</div>
			</div>
              <!-- Form validations -->              
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <div class="panel-body">
                              <div class="form">
                                  <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                                      <div class="form-group ">
                                          <label for="cname" class="control-label col-lg-2">Nama Lengkap<span class="required"></span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control" id="cname" name="fullname" value ="Falah" type="text" required />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label for="cemail" class="control-label col-lg-2">NPM<span class="required"></span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control " id="cemail" type="number" name="npm"  value ="G651180030" required />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label for="curl" class="control-label col-lg-2">Semester</label>
                                          <div class="col-lg-10">
                                              <input class="form-control " type="text" name="semester" value="3" />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label for="ccomment" class="control-label col-lg-2">Tujuan Surat<br>(Instansi)</label>
                                          <div class="col-lg-10">
                                              <textarea class="form-control " id="ccomment" name="alasan" required></textarea>
                                          </div>
                                      </div>                                  
                                      <div class="form-group ">
                                          <label for="ccomment" class="control-label col-lg-2">Alamat Tujuan</label>
                                          <div class="col-lg-10">
                                              <textarea class="form-control " id="ccomment" name="alasan" required></textarea>
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label for="ccomment" class="control-label col-lg-2">Topik Skripsi</label>
                                          <div class="col-lg-10">
                                              <textarea class="form-control " id="ccomment" name="alasan" required></textarea>
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label for="ccomment" class="control-label col-lg-2">Keperluan Data Untuk</label>
                                          <div class="col-lg-10">
                                              <textarea class="form-control " id="ccomment" name="alasan" required></textarea>
                                          </div>
                                      </div>
                                      <hr>
                                     <div class="form-group ">
                                          <label for="curl" class="control-label col-lg-2">Status</label>
                                          <div class="col-lg-10">
                                              <input class="form-control " type="text" name="status" value="Aktif" />
                                          </div>
                                      </div>  
                                       <div class="form-group ">
                                          <label for="curl" class="control-label col-lg-2">Tgl. Pengambilan</label>
                                          <div class="col-lg-10">
                                              <input class="form-control " type="dare" name="tgl_ambil" value="01-01-2019" />
                                          </div>
                                      </div>                                    
                                      <div class="form-group ">
                                          <label for="ccomment" class="control-label col-lg-2">Keterangan<br><i><h6>(diperlukan apabila ada isian yang kurang lengkap)</h6></i></label>
                                          <div class="col-lg-10">
                                              <textarea class="form-control" name="ket" required></textarea>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <button class="btn btn-default" type="submit">PDF</button>
                                              <button class="btn btn-default" type="button">PRINT</button>
                                              <button class="btn btn-default" type="button">SIMPAN</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>

                          </div>
                      </section>
                  </div>
              </div>
          </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section end -->

    <!-- javascripts -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- jquery validate js -->
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>

    <!-- custom form validation script for this page-->
    <script src="js/form-validation-script.js"></script>
    <!--custome script for all page-->
    <script src="js/scripts.js"></script>    


  </body>
</html>
